@inherits LayoutComponentBase

@inject IHttpContextAccessor httpContextAccessor

<div class="page">
    @if (accessAllowed)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code 
{
    private bool accessAllowed = false;

    protected override void OnInitialized()
    {
        var cookieValue = httpContextAccessor.HttpContext?.Request.Cookies["ProdControlSessionToken"];

        accessAllowed = cookieValue == "admin";
    }
}
