@page "/deliveries"
@inject DataContext Context
@inject NavigationManager NavigationManager
@using BlazorSsrFlowControl.Models

@if (lastActiveOrder is not null)
{
    <h3>Entregar - <span class="text-primary">@lastActiveOrder.ModelName</span></h3>
    <h3 class="text-primary">@lastActiveOrder.ActualQuantity/@lastActiveOrder.GoalQuantity</h3>

    <EditForm FormName="DeliveryForm" Model="NewDelivery" OnSubmit="HandleSubmit">
        <InputNumber @bind-Value="NewDelivery.Quantity" class="visually-hidden" />
        <InputNumber @bind-Value="NewDelivery.OrderId" class="visually-hidden" />
        <button type="submit" style=@buttonStyle>Enviar</button> 
    </EditForm>
}
else 
{
    <h3>No hay órdenes activas</h3>
}

@code 
{
    [SupplyParameterFromForm]
    private Delivery NewDelivery { get; set; } = new();
    private Order lastActiveOrder = new();
    private int orderId;
    private int? quantityPerDelivery;

    private string buttonStyle = string.Empty;  

    protected override async Task OnParametersSetAsync()
    {
        buttonStyle = "background-color: red; color: white; border-radius: 999px; width: 100%; height: 70vh; font-size: 32px; text-transform: uppercase;";
        if(Context.Orders is not null)
        {
            lastActiveOrder = await Context.Orders.OrderByDescending(x => x.Id).FirstOrDefaultAsync(x => x.IsActive == true);
        }
        if (lastActiveOrder is not null)
        {
            orderId = lastActiveOrder.Id;
            quantityPerDelivery = lastActiveOrder.QuantityPerDelivery;
        }
    }
    async Task CreateDelivery()
    {
        DateTime actualTime = DateTime.Now;

        NewDelivery.Hour = actualTime.Hour;
        NewDelivery.Minute = actualTime.Minute;
        NewDelivery.Quantity = quantityPerDelivery;
        NewDelivery.OrderId = orderId;

        lastActiveOrder.ActualQuantity += lastActiveOrder.QuantityPerDelivery;

        if(lastActiveOrder.ActualQuantity >= lastActiveOrder.GoalQuantity)
        {
            lastActiveOrder.IsCompleted = true;
            lastActiveOrder.IsActive = false;
        }

        Context.Deliveries.Add(NewDelivery);

        await Context.SaveChangesAsync();

        if (lastActiveOrder.IsActive == false)
        {
            NavigationManager.NavigateTo("/deliveries", true);
        }
    }

    async Task HandleSubmit() {
        if (lastActiveOrder is not null)
        {
            await CreateDelivery();
        }
    }
}