@page "/report"
@inject DataContext Context
@using BlazorSsrFlowControl.Models

@if (@deliveries is not null)
{
    @foreach (var delivery in @deliveries)
    {
        <p>@delivery.Quantity</p>
    }
}
@code 
{
    private List<Delivery> deliveries = new();

    protected override async Task OnInitializedAsync()
    {
        deliveries = await Context.Deliveries.OrderByDescending(x => x.Id).ToListAsync();
    }
}