@page "/report"
@inject DataContext Context
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor httpContextAccessor
@using BlazorSsrFlowControl.Models
@using BlazorSsrFlowControl.Utils

@if (@deliveries is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Id Orden</th>
                <th>Cantidad Entregada</th>
                <th>Hora</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var delivery in @deliveries)
            {
                <tr>
                    <td>@delivery.OrderId</td>
                    <td>@delivery.Quantity</td>
                    <td>@FormatNumbers.Time(delivery.Hour):@FormatNumbers.Time(delivery.Minute)</td>
                </tr>
            }
        </tbody>
    </table>
}
@code 
{
    private List<Delivery> deliveries = new();

    protected override async Task OnInitializedAsync()
    {
        deliveries = await Context.Deliveries.OrderByDescending(x => x.Id).ToListAsync();

        var cookieValue = httpContextAccessor.HttpContext?.Request.Cookies["ProdControlSessionToken"];

        bool accessAllowed = cookieValue == "admin";

        if (!accessAllowed)
        {
            NavigationManager.NavigateTo("/");
        }
    }
}